<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue 常用特性</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }
        
        #app {
            margin: 10px 30px;
        }
        
        #app>form>div {
            margin: 10px 20px;
        }
        
        .jianjie {
            display: inline-block;
            width: 300px;
            height: 30px;
            position: relative;
        }
        
        .jianjie>span {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .jianjie>textarea {
            position: absolute;
            top: 0;
            left: 80px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form>
            <div>
                <span> 姓名:</span>
                <span><input type="text" v-model='uname' placeholder="请输入姓名..."></span>
            </div>
            <div>
                <span>性别:</span>
                <span>
                    <input type="radio" id="male" value="1" v-model='gender'>
                    <label for="male">男</label>
                    <input type="radio" id="female" value="2" v-model='gender'>
                    <label for="female">女</label>
                </span>
            </div>
            <div class="hobby">
                <span>爱好:</span>
                <!-- <input type="checkbox" id="ball" value="1" v-model='hobby'>
                <label for="ball">篮球</label>
                <input type="checkbox" id="sing" value="2" v-model='hobby'>
                <label for="sing">唱歌</label>
                <input type="checkbox" id="code" value="3" v-model='hobby'>
                <label for="code">写代码</label> -->
                <div :key='index' v-for='(item,index) in hobbyStyle'>
                    <input type="checkbox" :id="item.ename" :value="index" v-model='hobby'>
                    <label :for="item.ename">{{item.cname}}</label>
                </div>
            </div>
            <div>
                <span>职业:</span>
                <select v-model='occupation' multiple>
                   <!--  <option value="0">请选择职业...</option>
                    <option value="1">教师</option>
                    <option value="2">软件工程师</option>
                    <option value="3">律师</option> -->
                    <option :key='index' :value="index" v-for='(item,index) in occuStyle'>{{item}}</option>
                </select>
            </div>
            <div class="jianjie">
                <span>个人简介:</span>
                <textarea v-model='desc'></textarea>
            </div>
            <div>
                <input type="submit" value="提交" @click.prevent='handle()'>
            </div>
        </form>
        <hr>
        <h2>自定义指令(无参数)</h2>
        <input type="text" v-focus>
        <h2>自定义指令(有参数)</h2>
        <input type="text" v-color='mag'>
        <h2>局部指令</h2>
        <input type="text" v-color1='mag' v-focus>
        <hr>
        <h2>计算属性</h2>
        <div>{{msg}}</div>
        <h3>没有使用计算属性</h3>
        <div>{{msg.split('').reverse().join('')}}</div>
        <h3>使用计算属性</h3>
        <div>{{reverseString}}</div>
        <hr>
        <h2>侦听器-watch</h2>
        <div>
            <span>名:</span>
            <span><input type="text" v-model='firstName'></span>
        </div>
        <div>
            <span>姓:</span>
            <span><input type="text" v-model='lastName'></span>
        </div>
        <div>{{fullName}}</div>
        <hr>
        <h2>过滤器--filter</h2>
        <input type="text" v-model='msg'>
        <div>{{msg | upper}}</div>
        <div>{{msg | upper | lower}}</div>
        <div>{{msg | uppers}}</div>
    </div>
    <script>
        /*自定义指令*/
        Vue.directive('focus', {
            inserted: function(el) {
                el.focus();
            }
        });
        Vue.directive('color', {
            bind: function(el, binding) {
                el.style.backgroundColor = binding.value.color;
            }
        });
        /*过滤器*/
        Vue.filter('upper', function(value) {
            return value.toUpperCase(); //字符串变为大写
        });
        Vue.filter('lower', function(value) {
            return value.toLowerCase(); //字符串变为小写
        });
        var vm = new Vue({
            el: '#app',
            //数据
            data: {
                uname: '',
                gender: 1,
                hobby: ['1'],
                hobbyStyle: [{
                    cname: '篮球',
                    ename: 'ball'
                }, {
                    cname: '唱歌',
                    ename: 'sing'
                }, {
                    cname: '写代码',
                    ename: 'code'
                }],
                //occupation: 2, //单选时
                occupation: ['2', '3'], //多选时
                occuStyle: ['请选择职业...', '教师', '软件工程师', '律师'],
                desc: '...',
                mag: {
                    color: 'red'
                },
                msg: 'Holle Vue',
                firstName: 'san',
                lastName: 'zhang',
                fullName: 'san zhang'
            },
            //方法
            methods: {
                handle: function() {

                }
            },
            //自定义指令
            directives: {
                color1: {
                    inserted: function(el, binding) {
                        el.style.backgroundColor = binding.value.color
                    }
                },
                focus1: {
                    bind: function(el, binding) {
                        //el:指令绑定的元素
                        //binding.name指令名	binding.value绑定值	bingding.expression绑定至(字符串形式)
                        el.focus();

                    }
                }
            },
            //计算属性
            computed: {
                reverseString() {
                    return this.msg.split('').reverse().join('');
                }
            },
            //侦听器
            watch: {
                //newVal 当前最新的值,oldVal 前一个值
                firstName: function(newVal, oldVal) {
                    this.fullName = newVal + ' ' + this.lastName + '-' + oldVal + ' ' + this.lastName;
                },
                lastName: function(newVal, oldVal) {
                    this.fullName = this.firstName + ' ' + newVal
                }
            },
            //局部过滤器
            filters: {
                uppers: function(value) {
                    return value.toUpperCase(); //字符串变为大写
                }

            }
        })
    </script>
</body>

</html>